:root {
--bodyy: #fff;
--logoone: #4d5ae5;
--logotwo: #2e2f42;
--but: #404BBF;
--addone: #434455;
--addonehf: #404bbf;
--sect: #F4F4FD;
--newcolor: #e7e9fc;





}
p,
h1, 
h2, 
h3, 
h4, 
h5 {
    margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.body {
   font-family: "Roboto", sans-serif;
   color: var(--addone);
   background-color: var(--bodyy);

}
.logoone {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--logoone);
   margin-right: 76px;
}

.logotwo {
   color: var(--logotwo);
   
}
.link {
   text-decoration: none;
   display: inline-block; 
   margin-bottom: 16px;
}
.list {
   list-style: none;


}
.nav-list {
   display: flex;
   gap: 40px;

}
.but {
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--logotwo);
   padding-top: 24px;
   padding-bottom: 24px;
}
.but:focus{
   color:  var(--but) ;
}
.but:hover{
   color:var(--but);
}
.add {
   font-style: normal;

}
.addone {
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--addone);

}
.addone:hover{
   color: var(--addonehf);
}
.addone:focus {
   color:var(--addonehf);
}

.headindex {
   border-bottom: 1px solid var(--newcolor);

}
.divheadindex {
   display: flex;
   align-items: center;

}
.container {
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   border: 1px solid #e7e9fc;

}
.navindex {
   display: flex;
   align-items: center;

}
/* MAIN */
.secone {
   background-color:var(--logotwo);
   padding-top: 188px;
   padding-bottom: 188px;

}
.hsecone {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--bodyy);
   max-width: 496px;

}
.butone {
   background-color: var(--logoone);
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--bodyy);
   cursor: pointer;
   display: block;
   min-width: 169px;
   height: 56px;
   border: none;
   background-color: var(--logoone);
   border-radius: 4px;
   cursor: pointer;
}
.butone:focus{
   background-color: var(--but);
}
.butone:hover{
   background-color: var(--but);
}
.sectwo {
   padding-top: 120px;
   padding-bottom: 120px;
}
.lisectwo {
   margin-right: 24px;
   flex-basis: calc((100% - 3 * 24px) / 4);


}
.listtwo {
   display: flex;
   gap: 24px;
}
.htwosectwo {
   font-weight: 500 ;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--logotwo);
   margin-bottom: 8px;

}
.psectwo {
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--addone);

}
.secthree {
padding-bottom: 120px;
}
.htwosecthree {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--logotwo);
   margin-bottom: 72px;

}
.lithree {
   flex-basis: calc((100% - 48px) / 3);
}
.secfour {
   background-color: var(--sect);
   padding-top: 120px;
   padding-bottom: 120px;
}
.secthreelist {
   display: flex;
   gap: 24px;
}
.divsecfour {
   padding-top: 32px;
   padding-bottom: 32px;
   padding-left: 16px;
   padding-right: 16px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
}
.htwosecfour {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize ;
   color: var(--logotwo);
   margin-bottom: 72px;
}
.lisecfour {
   background-color: var(--bodyy);
   flex-basis: calc((100% - 72px) / 4);
}
.listsecfour {
   display: flex; 
   gap: 24px;
}
.img {
display: block;
}

.hthreesecfour {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2 ;
   letter-spacing: 0.02em;
   color: var(--logotwo);
   text-align: center;
   margin-bottom: 8px;


}
.psecfour {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--addone);
   text-align: center;
}

/* FOOTER */
.footer {
   background-color: var(--logotwo);
   padding-top: 100px;
   padding-bottom: 100px;
}
.footerlogoone {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color:  var(--logoone);

}
.footerlogotwo {
   color: var(--sect);
   display: inline-block; 
}
.pfooter {
   max-width: 264px;
}

/* PORTFOLIO */
.bodyyy {
   font-family: "Roboto", sans-serif;
   color: var(--addone);
   background-color: var(--bodyy);
}
.headportfolio {
   border-bottom: 1px solid var(--newcolor);
}
.containertwo {
   display: flex;
   align-items: center;
}
.secport {
   padding-top: 96px;
   padding-bottom: 120px;
}
.butall {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--logoone) ;
   background-color: var(--sect);
   cursor: pointer;
   padding-top: 12px; 
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
   border: 1px solid var(--newcolor);
   border-radius: 4px;
   
}
.butall:focus {
   color:  var(--bodyy);
   background-color: var(--but);
   border: 1px solid transparent ;
}

.butall:hover {
   color: var(--bodyy);
   background-color:var(--but);
   border: 1px solid transparent;

}
.imgp {

}
.liportfolio {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--logotwo);
   margin-bottom: 8px;

}
.pportfolio {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--addone);
}
.liporttwo {

}
.pfooter {
   color: var(--sect);
}